extends layout

block content
  h1= title

  p Welcome to #{title}

  input#main-input(name='data', data-foo=123)


  input#alt-input(name='foo-var')

  hr

  //- a(href='#', ic-post-to='/click', ic-include="#main-input", ic-include="#alt-input", ic-target='#output') click-me
  <a href='#', ic-post-to='/click', ic-include="#main-input", ic-include="#alt-input", ic-target='#output'>click-me</a>

  hr

  #output
