doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/jquery.min.js', type='application/javascript')
    script(src='/intercooler-1.0.3.js', type='application/javascript')

  body
    block content
